/* RESET */
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* FUNDO */
body{
    background: linear-gradient(180deg,#030a3d,#02072b);
    color:white;
    min-height:100vh;
    padding:20px;
}

/* HEADER */
header{
    text-align:center;
    margin-bottom:30px;
}

header h1{
    font-size:2.5rem;
    font-weight:600;
}

/* BARRA DE BUSCA */

section{
    display:flex;
    justify-content:center;
    gap:10px;
    margin-bottom:40px;
}

.campoBusca{
    width:350px;
    padding:12px 16px;
    border-radius:10px;
    border:none;
    background:#2c2f4a;
    color:white;
    font-size:16px;
}
#campoBusca::placeholder{
    color: gray;
}
.campoBusca::placeholder{
    color:#aaa;
}

.btnBusca{
    padding:12px 20px;
    border:none;
    border-radius:10px;
    background:#4c6ef5;
    color:white;
    font-weight:bold;
    cursor:pointer;
    transition:0.3s;
}

.btnBusca:hover{
    background:#3b5bdb;
}

/* MAIN LAYOUT */

main{
    display:grid;
    grid-template-columns:2fr 1fr;
    gap:25px;
}

/* CARDS */

.card{
    background:#121739;
    border-radius:20px;
    padding:20px;
}

/* CARD PRINCIPAL */

.clima{
    background:linear-gradient(135deg,#4c6ef5,#3b3dbf);
    border-radius:20px;
    padding:30px;
    margin-bottom:25px;
    min-height:120px;
}

.cidade-box{
    font-size:1.4rem;
}

/* DETALHES */

.detalhes{
    display:grid;
    grid-template-columns:repeat(3,1fr);
    gap:15px;
    margin-bottom:25px;
}

.det-box{
    background:#1e234d;
    padding:20px;
    border-radius:15px;
    text-align:center;
}

/* PREVISÃO SEMANA */

.previsaoSemana{
    display:grid;
    grid-template-columns:repeat(7,1fr);
    gap:10px;
}

.dia-box{
    background:#1e234d;
    padding:15px;
    border-radius:12px;
    text-align:center;
    min-height:70px;
}

.temp-box{
    display:flex;
    gap:10px;
}

/* CARD LATERAL */

.dia{
    display:flex;
    flex-direction:column;
    gap:20px;
}

.dia h3{
    font-size:1.2rem;
}

.select-dia{
    padding:10px;
    border-radius:10px;
    border:none;
    background:#2c2f4a;
    color:white;
}

/* RESPONSIVO */

@media (max-width:900px){

    main{
        grid-template-columns:1fr;
    }

}

/* MOBILE */

@media (max-width:600px){

    header h1{
        font-size:1.8rem;
    }

    section{
        flex-direction:column;
        align-items:center;
    }

    .campoBusca{
        width:100%;
        max-width:300px;
    }

    .btnBusca{
        width:150px;
    }

    .detalhes{
        grid-template-columns:1fr;
    }

    .previsaoSemana{
        grid-template-columns:repeat(3,1fr);
    }

}